Link{
    background-color: white;
    /* background-color: #384459; */
    padding-left: 10px;
    padding-right: 10px;
    /* padding:20px;  */
    /* margin-bottom: 40px; */
}

nav.panel{
    max-height: 93vh;
    overflow: auto;
}