.container {
    /* background-color: forestgreen; */
    min-height: calc(100vh - 94px);
    height: 100%;
    /* margin-top: 30px; */
    /* padding:5px; */
}
.boo {
    min-height: calc(100vh - 94px);

    background-color: #384459;
    min-height: calc(100vh);
    height: 100%;
    /* margin-top: 30px; */
    /* padding:5px; */
}