.timer{
    /* color: white; */
    text-align: center;
    font-size: 48px;
}
#start-btn{
    /* color: white; */
    text-align: center;

}

.start-btn{
    /* color: white; */
    text-align: center;

}